<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual Drag Drop</title>

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>

  <body>
    <h1>Virtual Drag and Drop</h1>
    <img
      src="{{ url_for('drag_drop') }}"
      id="video-stream"
      alt="Virtual Drag and Drop"
    />

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let video = document.getElementById("video-stream");

        if (video) {
          video.onloadedmetadata = function () {
            video.style.display = "block";
          };
        }
      });
    </script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
